<footer>
  <div class="footer-section">
    <h5>{{ 'footer.policy.title' | i18n }}</h5>
    <p>{{ 'footer.policy.content' | i18n }}</p>
  </div>
  <div class="footer-section">
    <h5>{{ 'footer.navigation'| i18n }}</h5>
    <ul>
      {% for entry in navigation %}
        <li><a href="{{ entry.link }}">{{ entry.translationKey | i18n }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="footer-section">
    <h5>{{ 'footer.links.title' | i18n }}</h5>
    <ul>
      <li><a href="https://buildtheearth.net">{{ 'footer.links.bte' | i18n }}</a></li>
      <li><a href="https://www.curseforge.com/minecraft/mc-mods/terraplusplus">{{ 'footer.links.terraplusplus' | i18n }}</a></li>
      <li><a href="https://www.curseforge.com/minecraft/mc-mods/terramap">{{ 'footer.links.terramap' | i18n }}</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h5>{{ 'footer.contacts' | i18n }}</h5>
    <ul>
      <li>{% include 'email.njk' %}</li>
    </ul>
  </div>
  <div class="footer-section social">
    <h5>{{ 'footer.social' | i18n }}</h5>
    <ul>
      {% for media in social %}
        <li><a href="{{ media.link }}"><img src="{{ media.iconLinkMono }}" alt="">{{ media.translationKey | i18n }}</a></li>
      {% endfor %}
    </ul>
  </div>
</footer>