{% extends 'base.njk' %}

{% block pageStyles %}
  <link rel="stylesheet" href="/assets/css/gallery.css" type="text/css">
{% endblock %}

{% block main %}
  <article class="gallery">
    <div class="container fullscreen hidden">
      <img alt="" src="" class="maximize">
    </div>
  </article>
{% endblock %}

{% block pageScripts %}
  <script>const locale = "{{ locale }}";</script>
  <script src="/assets/js/gallery.js"></script>
{% endblock %}