{% extends 'base.njk' %}

{% block main %}
<article class="illustrated-paragraph">
    <div class="article-content">
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed libero ut mauris sollicitudin semper ac id nulla. Proin at elit facilisis, facilisis sem rhoncus, hendrerit massa. Sed tincidunt sem eu tortor laoreet, id accumsan erat condimentum. Morbi lacus mi, tempus quis tincidunt quis, bibendum sit amet quam. Praesent cursus scelerisque tellus et egestas. Suspendisse volutpat posuere mi in fringilla. Nam finibus blandit tortor ut bibendum. Vestibulum suscipit urna in erat tristique aliquam. Integer tincidunt ornare enim ut vestibulum. Donec quis convallis ex. Nulla quam dui, aliquam eget porttitor sed, pretium gravida lorem. Maecenas vitae dolor at nunc maximus blandit. Aenean quam nulla, rhoncus at ipsum et, bibendum lobortis dui. Nullam eleifend, velit ac dignissim faucibus, est tortor tempus tellus, at ullamcorper justo dui non dolor. Nullam mauris nisl, pellentesque non tempus ut, dignissim ac ligula.
      </p>
    </div>
    <img src="/assets/img/LaDéfenseArcDeTriomphe_4K.png" class="illustration">
  </article>
  <article class="illustrated-paragraph">
    <div class="article-content">
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed libero ut mauris sollicitudin semper ac id nulla. Proin at elit facilisis, facilisis sem rhoncus, hendrerit massa. Sed tincidunt sem eu tortor laoreet, id accumsan erat condimentum. Morbi lacus mi, tempus quis tincidunt quis, bibendum sit amet quam. Praesent cursus scelerisque tellus et egestas. Suspendisse volutpat posuere mi in fringilla. Nam finibus blandit tortor ut bibendum. Vestibulum suscipit urna in erat tristique aliquam. Integer tincidunt ornare enim ut vestibulum. Donec quis convallis ex. Nulla quam dui, aliquam eget porttitor sed, pretium gravida lorem. Maecenas vitae dolor at nunc maximus blandit. Aenean quam nulla, rhoncus at ipsum et, bibendum lobortis dui. Nullam eleifend, velit ac dignissim faucibus, est tortor tempus tellus, at ullamcorper justo dui non dolor. Nullam mauris nisl, pellentesque non tempus ut, dignissim ac ligula.
      </p>
    </div>
    <img src="/assets/img/LaDéfenseArcDeTriomphe_4K.png" class="illustration">
  </article>
{% endblock %}