{% extends 'base.njk' %}

{% block main %}
<article class="illustrated-paragraph">
    <div class="article-content">
      <h3>{{ 'pages.maps.dynmap.title' | i18n }}</h3>
      <p>{{ 'pages.maps.dynmap.description' | i18n }}</p>
    </div>
    <img src="/assets/img/LaDéfenseArcDeTriomphe_4K.png" class="illustration">
  </article>
  <article class="illustrated-paragraph">
    <div class="article-content">
          <h3>{{ 'pages.maps.progress.title' | i18n }}</h3>
          <p>{{ 'pages.maps.progress.description' | i18n }}</p>
        </div>
    <img src="/assets/img/LaDéfenseArcDeTriomphe_4K.png" class="illustration">
  </article>
{% endblock %}