{% extends 'base.njk' %}

{% block pageStyles %}
  <link rel="stylesheet" href="/assets/css/rules.css" type="text/css">
{% endblock %}

{% block main %}
<h2 id="rules">Rules</h2>
  <article class="rules-header rules-dangerous">
    <span class="emphasis">By engaging in our community, you agree to abid by the following rules.</span>
    Our staff team will actively enforce them to ensure BTE France remains an enjoyable place for everyone.
    The staff team reserves itself the right to take any action it considers necessary to achieve that goal.
    As such, common sens applies first and these rules should be interpreted as guidelines and not literally.
    Exploiting loopholes is therefore not acceptable.
    <br>
    Ban appeals can be addressed to <a href="mailto:adress@example.com">address@example.com</a>.
  </article>
  <article class="rules-header rules-info">
    If you have any question, checkout the
    <a href="https://discord.com/channels/694003889506091100/735892858128695367" class="discord-channel">
      🇬🇧・how-to-join</a>
    and
    <a href="https://discord.com/channels/694003889506091100/821291710993661992" class="discord-channel">
      📍・ip</a> channels on Discord,
    the information there should cover about everything.
    If it fails to answer your question,
    our <span class="helper">Helpers</span> and <span class="staff">Staff</span> are available
    both on Discord and in-game and will gladly guide you.
  </article>
  <article class="rules-column discord-rules">
    <h3>Discord server rules</h3>
    <div class="content-box">
      <ol>
        <li>
          <span class="emphasis">All forms of racism, sexism, homophobia, and other forms of prejudice are prohibited.</span>
          Includes voice, Text channels, DMs with no exceptions.
        </li>
        <li>
          <span class="emphasis">Sending any attachment (video/image/link) that contains erotic/sexual content or gore is forbidden.</span>
          Suggestive/Minor NSFW in text, voice, emojis and reactions is also not allowed, but is taken more lightly.
        </li>
        <li>
          <span class="emphasis">Talk of politics and other heavy topics is prohibited in all channels.</span>
          This is a server dedicated to the Build The Earth project alone, and we do not allow heavy or dividing topics to be discussed.
        </li>
        <li>
          <span class="emphasis">All aspects of Discord TOS must be followed (including but not limited to the age requirement of 13).</span>
          Jokes about breaking TOS will be treated as facts. Read up <a href="https://discord.com/terms">here</a>.
        </li>
        <li>
          <span class="emphasis">You are not allowed to play on a cracked account (an illegitimate Minecraft account).</span>
          This does not include launchers like MultiMc or Badlion as you require a legitimate Minecraft account to use them.
        </li>
        <li>
          <span class="emphasis">Criminal behaviour (death threats, blackmailing, etc...) is not allowed.</span>
          If the context is shown to disprove actual criminal behaviour, it will be met by a warning for further discretion.
        </li>
        <li>
          <span class="emphasis">Disrupting and baiting the chat is not allowed.</span>
          This includes text spam, copy-pasted text walls and spoiler baiting to make others believe its a banned word. Excessive unnecessary pings, overuse of caps/text formatting.
        </li>
        <li>
          <span class="emphasis">Having a username/profile picture/status/Game Activity that contains any violation of our rules is prohibited.</span>
          This also includes impersonation of Staff members (Having an identical profile picture and username/nickname).
        </li>
        <li>
          <span class="emphasis">Unsolicited advertising (through voice, text channels, or DMs) is prohibited.</span>
        </li>
        <li>
          <span class="emphasis">Accusing someone for breaking rules in public chats is prohibited.</span>
          Instances of such are considered defamatory. If you have any proof, contact a Staff member privately about it and we will handle the situation accordingly.
        </li>
        <li>
          <span class="emphasis">General toxic behaviour is not allowed in any channels.</span>
          This includes, but is not limited to, earrape, loud/annoying noises and screams in voice chats and posted audio/video files, spreading slander/lies, and rude, insulting or derogatory language towards users/staff.
        </li>
        <li>
          <span class="emphasis">Usage of channels that deviate from their purpose is not allowed.</span>
          Please read the channel description before chatting to avoid punishment by Staff.
        </li>
        <li>
          <span class="emphasis">Evading any punishment is heavily forbidden.</span>
        </li>
        <li>
          <span class="emphasis">Exploiting rule loopholes is also not allowed.</span>
          General common sense applies to all rules, and must be reported immediately.
        </li>
      </ol>
    </div>
  </article>
  <article class="rules-column minecraft-rules">
    <h3>Minecraft server rules</h3>
    <div class="content-box">
      <h4>The following are explicitly forbidden</h4>
      <ol>
        <li>
          <span class="emphasis">Le grief est strictement interdit.</span>
          Cela comprend aussi de copier des constructions et les mettre ailleurs dans la map.
        </li>
        <li>
          <span class="emphasis">Un tracé en briques est là pour vous guider et délimite les bâtiments,</span>
          merci de le suivre bloc par bloc, sans quoi s’il n’est pas respecté il devra être reconstruit ou supprimé.
          <span class="emphasis">Attention aux rails, en bloc de fer, demander aux staffs si besoin.</span>
        </li>
        <li>
          Les zones “débutant” sont réservées aux Débutants et sont limitées par des blocs verts dans les grandes villes excepté Quimper. Toute construction n’ayant aucun rapport ou pas respectée sera détruite.
        </li>
        <li>
          <span class="emphasis">Il est strictement interdit d’aller visiter d’autres pays (ex.: Inde, USA, Vietnam, Suisse…).</span>
          Cela fait vite diminuer les capacités techniques du serveur et vaut un ban ou dérank suivant le grade.
        </li>
        <li>
          <span class="emphasis">Menaces, troll, insultes, prank (sévère), flood, spam, majuscules et tout autre caractère offensant</span> est passible de sanctions.
        </li>
        <li>
          <span class="emphasis">Il est interdit de générer des chunks inutilement</span>, cela fait lag le serveur.
        </li>
        <li>
          Il est aussi interdit de faire des systèmes en redstone, machines à lag, bases secrètes, de construire des signes religieux (hormis les lieux de culte), ou construire dans un endroit où vous n’êtes pas autorisé/n’avez pas reçu d'autorisation (Paris, La Défense, Monaco…)
        </li>
        <li>
          <span class="emphasis">Spammer des commandes de <span class="mc-command">//regen</span> <span class="mc-command">/afk</span>, abuser de WorldEdit ou de Voxel</span> n’est pas autorisé.
        </li>
        <li>
          Demander un grade (<span class="foreman">Contremaître</span>, <span class="architect">Architecte</span>) en boucle vous fera patienter longtemps avant d’avoir le grade voulu. A noter qu’il est inutile de demander les grades <span class="engineer">Ingénieur</span>, <span class="helper">Helper</span> ou <span class="staff">Staff</span>.
        </li>
        <li>
          <span class="emphasis">Faire crash le serveur volontairement</span> équivaut à un ban définitif.
        </li>
        <li>
          <span class="emphasis">Déconnecter-reconnecter</span> (sauf problème technique/internet) <span class="emphasis">en boucle</span> est interdit.
        </li>
        <li>
          <span class="emphasis">Construire “librement” à Paris est interdit</span> sauf sur autorisation préalable au staff et d’être à minima <span class="builder">Builder</span>.
        </li>
        <li>
          Vous voyez une construction commencée à moitié ? Vous n'êtes pas autorisé à la continuer/regen sauf sur demande auprès du builder concerné ou du staff.
        </li>
      </ol>
      <h4>The following are encouraged</h4>
      <ol>
        <li>
          Construire où vous voulez en France (Outre-Mer compris) dans la limite où vous avez demandé la permission au préalable auprès du staff.
        </li>
        <li>
          Demander de l’aide sur des bâtiments, WorldEdit, Voxel, Terramap…
        </li>
        <li>
          Aider les autres <span class="builder">builders</span>, <span class="beginner">débutants</span>…
        </li>
        <li>
          Apporter du contenu de construction (tuto, véhicule, infrastructure publique…). Ne placez pas les véhicules sur les routes !
        </li>
        <li>
          Demander l’accès (seulement) au grade <span class="foreman">Contremaître</span> auprès du staff si vous jugez que vous êtes éligible (cf : <a href="#ranks">Ranks</a>).
        </li>
        <li>
          A partir de <span class="builder">Builder</span>, vous pouvez demander un sous-grade de votre ville, par exemple [Nice].
        </li>
        <li>
          Participer aux events.
        </li>
        <li>
          Vous pouvez réaliser des vidéos/cinématiques pour les réseaux sociaux de notre team.
        </li>
        <li>
          Restez sympa dans le chat.
        </li>
        <li>
          Pour avoir un warp dans votre ville, vous devez être <span class="builder">Builder</span>.
        </li>
        <li>
          Pour un render, demandez au staff !
        </li>
      </ol>
    </div>
  </article>
  <h2 id="ranks">Ranks</h2>
  <article class="rules-header rules-info">
    The server is organized with ranks that reflect players' achievements, roles and permissions.
    There are two types of ranks on BTE France, player ranks and staff ranks.
    Except the <span class="engineer">Ingénieur</span> rank, all player ranks are open to everyone,
    after the staff team reviews the application.
    If you feel like you deserve a rank, you are free to ask for it in the
    <a href="https://discord.com/channels/694003889506091100/694936770948890724" class="discord-channel">support</a>
    channel (not in DMs).
    <br>
    <span class="staff">Staff</span> roles, on the other hand, are granted to people that have shown initiative in the past
    and had an impact significant enough on BTE France for the rest of the staff to invite them in.
    There is no need to ask for a staff role, no new staff member will be appointed unless there is
    a clear need to scale up the staff team. Most of the current staff members have been there since
    the first months of the project.
  </article>
  <article class="rules-column">
    <h3>Player ranks</h3>
    <div class="content-box">
      <div class="subsection">
        <span class="visitor">[Visiteur]</span> : le grade Visiteur est le premier que vous aurez si vous rejoignez notre serveur Minecraft, il vous permet de :
        <ul>
          <li>
            Visiter le serveur grâce à <span class="mc-command">/visite</span> (pour nos plus belles constructions) et <span class="mc-command">/warps</span> (tous nos warps)
          </li>
          <li>
            Poser des questions
          </li>
        </ul>
        NB: si il n’y a pas de warp, c’est qu’il n’y a généralement aucune construction dans cette ville
      </div>
      <div class="subsection">
        <span class="beginner">[Débutant]</span> : le grade Débutant est utile si vous souhaitez construire sur le serveur. Il vous suffit de le demander au staff présent sur le serveur Minecraft pour l’obtenir, il vous permet de :
        <ul>
          <li>
            construire des bâtiments
          </li>
          <li>
            aider d’autres personnes
          </li>
        </ul>
        NB : avant de construire sur un terrain, vous devez le signaler sur Discord dans
        <a href="https://discord.com/channels/694003889506091100/694003889506091103" class="discord-channel">french-chat</a>.
      </div>
      <div class="subsection">
        <span class="builder">[Builder]</span> : le grade Builder certifié est un membre reconnu de la team BuildTheEarth.net.
        Pour l’obtenir il vous faut construire au moins deux bâtiments sur le serveur, et faire votre demande sur le site BuildTheEarth.net. (un guide très simple est à votre disposition dans
        <a href="https://discord.com/channels/694003889506091100/810512822928670780" class="discord-channel">❔・comment-rejoindre</a> sur Discord)
      </div>
      <div class="subsection">
        <span class="foreman">[Contremaître]</span> : le grade Contremaître est honorifique, vous n’aurez pas de permission en plus, cependant il traduit votre investissement dans le serveur.
        Pour l’obtenir il faudra :
        <ul>
          <li>
            respecter l’échelle 1 bloc pour 1 mètre en s’aidant de Google Earth Pro et Google Maps
          </li>
          <li>
            construire au moins 25 bâtiments ou bien son équivalent (seul un staff pourra le juger)
          </li>
          <li>
            introduire suffisamment de détails dans ses constructions (trappes, boutons, mix de blocs, bonne utilisation des têtes customs, végétations autour des constructions)
          </li>
          <li>
            avoir un langage correct
          </li>
        </ul>
      </div>
      <div class="subsection">
        <span class="architect">[Architecte]</span> : tout comme Contremaître, Architecte est honorifique, il fait directement suite à ce grade, de nouvelles conditions s’y ajoutent :
        <ul>
          <li>
            votre ville ou votre village est désormais plus avancé, votre niveau de détails est bon
          </li>
          <li>
            vous avez réalisé un bâtiment d'intérêt avec des détails pertinents (château, église, mairie…)
          </li>
          <li>
            vous postez votre avancée de temps en temps sur le Discord (
            <a href="https://discord.com/channels/694003889506091100/694325296106569748" class="discord-channel">🌍・showcase</a>
            ou
            <a href="https://discord.com/channels/694003889506091100/700757392157048892" class="discord-channel">🤝・progrès・aide-build</a> )
          </li>
          <li>
            vous êtes présent sur le serveur BTE France depuis au moins un mois
          </li>
        </ul>
      </div>
      <div>
        <span class="engineer">[Ingénieur]</span> : le grade Ingénieur est le plus haut que vous pourrez atteindre sur le serveur hormis le staff, ce grade est donc réservé aux meilleurs, et peut être que vous en ferez parti, mais ce chemin est long, patience.
        Pour obtenir ce précieux grade, il faudra faire preuve de nombreuses qualités, en plus d’avoir atteint un bon niveau de construction, vous avez démontré que vous êtes quelqu'un de confiance, vous aidez aussi vos camarades quand ceux-ci ont besoin d’aide (ne construisez par leur village non plus) et vous faites désormais partie à part entière de l’histoire de BTE France. Ce grade ne se demande pas vraiment, il vient à vous.
      </div>
    </div>
  </article>
  <article class="rules-column">
    <h3>Staff ranks</h3>
    <div class="content-box">
      <div class="subsection">
        <span class="archivist">[Archiviste]</span> : le grade d’Archiviste est un grade unique qui a été décerné à <span class="discord-user">lclc</span>, il s’occupe de trier et de renseigner avec le plus d’informations possible les constructions faites par les joueurs permettant de mettre à jour la map française (/map sur Discord).
      </div>
      <div class="subsection">
        <span class="helper">[Helper]</span> : le grade Helper est le premier grade staff. Ils sont des modérateurs et anciennement des Builder+ ; ils sont là pour vous aider sur vos constructions, ils vous donnent des conseils sur les fonctionnalités de BTE (WorldEdit, tutos…). Comme inscrit plus haut, les Helpers sont modérateurs en cas d’absence des <span class="staff">Staff</span> : ils peuvent vous passer en grade de <span class="beginner">Débutant</span> à <span class="architect">Architecte</span>.
      </div>
      <div class="subsection">
        <span class="developer">[Développeur]</span> : le grade Développeur est celui de <span class="discord-user">Smyler</span>, c’est notamment grâce à lui que l’on doit le mod Terramap permettant d’avoir des cartes satellite et openStreetMap directement en jeu.
      </div>
      <div class="subsection">
        <span class="staff">[Staff]</span> : Le grade Staff est le grade le plus haut placé en termes de permissions. Ils sont considérés comme admins et gèrent l'entièreté du serveur, ils sont anciennement les modérateurs et les admins réunis sous ce seul grade.
      </div>
      <div class="subsection">
        <span class="founder">[Fondatrice]</span> : Détenu par <span class="discord-user">Lennah_</span>, c’est la propriétaire du serveur. A ne pas confondre avec les propriétaires de la team BTE France.
      </div>
    </div>
  </article>
{% endblock %}