{% extends 'base.njk' %}

{% block pageStyles %}
  <link rel="stylesheet" href="/assets/css/rules.css" type="text/css">
{% endblock %}

{% block main %}
<h2 id="rules">Rules</h2>
  <article class="rules-header rules-dangerous">
    <span class="emphasis">By engaging in our community, you agree to abid by the following rules.</span>
    Our staff team will actively enforce them to ensure BTE France remains an enjoyable place for everyone.
    The staff team reserves itself the right to take any action it considers necessary to achieve that goal.
    As such, common sens applies first and these rules should be interpreted as guidelines and not literally.
    Exploiting loopholes is therefore not acceptable.
    <br>
    Ban appeals can be addressed to <a href="mailto:adress@example.com">address@example.com</a>.
  </article>
  <article class="rules-header rules-info">
    If you have any question, checkout the
    <a href="https://discord.com/channels/694003889506091100/735892858128695367" class="discord-channel">
      🇬🇧・how-to-join</a>
    and
    <a href="https://discord.com/channels/694003889506091100/821291710993661992" class="discord-channel">
      📍・ip</a> channels on Discord,
    the information there should cover about everything.
    If it fails to answer your question,
    our <span class="helper">Helpers</span> and <span class="staff">Staff</span> are available
    both on Discord and in-game and will gladly guide you.
  </article>
  <article class="rules-column discord-rules">
    <h3>Discord server rules</h3>
    <div class="content-box">
      <ol>
        {% for rule in rules.discord %}
            <li>
                {% if rule.fr and locale == 'fr' %}
                    {{ rule.fr }}
                {% elif rule.en and locale == 'en' %}
                    {{ rule.en }}
                {% elif rule.en %}
                    {{ rule.en }}
                {% elif rule.fr %}
                    {{ rule.fr }}
                {% else %}
                    {{ "Rule missing" }}
                {% endif %}
            </li>
        {% endfor %}
      </ol>
    </div>
  </article>
  <article class="rules-column minecraft-rules">
    <h3>Minecraft server rules</h3>
    <div class="content-box">
      <ol>
          {% for rule in rules.minecraft %}
              <li>
                  {% if rule.fr and locale == 'fr' %}
                      {{ rule.fr }}
                  {% elif rule.en and locale == 'en' %}
                      {{ rule.en }}
                  {% elif rule.en %}
                      {{ rule.en }}
                  {% elif rule.fr %}
                      {{ rule.fr }}
                  {% else %}
                      {{ "Rule missing" }}
                  {% endif %}
              </li>
          {% endfor %}
      </ol>
    </div>
  </article>
  <h2 id="ranks">Ranks</h2>
  <article class="rules-header rules-info">
    The server is organized with ranks that reflect players' achievements, roles and permissions.
    There are two types of ranks on BTE France, player ranks and staff ranks.
    Except the <span class="engineer">Ingénieur</span> rank, all player ranks are open to everyone,
    after the staff team reviews the application.
    If you feel like you deserve a rank, you are free to ask for it in the
    <a href="https://discord.com/channels/694003889506091100/694936770948890724" class="discord-channel">support</a>
    channel (not in DMs).
    <br>
    <span class="staff">Staff</span> roles, on the other hand, are granted to people that have shown initiative in the past
    and had an impact significant enough on BTE France for the rest of the staff to invite them in.
    There is no need to ask for a staff role, no new staff member will be appointed unless there is
    a clear need to scale up the staff team. Most of the current staff members have been there since
    the first months of the project.
  </article>
  <article class="rules-column">
    <h3>Player ranks</h3>
    <div class="content-box">
      <div class="subsection">
        <span class="visitor">[Visiteur]</span> : le grade Visiteur est le premier que vous aurez si vous rejoignez notre serveur Minecraft, il vous permet de :
        <ul>
          <li>
            Visiter le serveur grâce à <span class="mc-command">/visite</span> (pour nos plus belles constructions) et <span class="mc-command">/warps</span> (tous nos warps)
          </li>
          <li>
            Poser des questions
          </li>
        </ul>
        NB: si il n’y a pas de warp, c’est qu’il n’y a généralement aucune construction dans cette ville
      </div>
      <div class="subsection">
        <span class="beginner">[Débutant]</span> : le grade Débutant est utile si vous souhaitez construire sur le serveur. Il vous suffit de le demander au staff présent sur le serveur Minecraft pour l’obtenir, il vous permet de :
        <ul>
          <li>
            construire des bâtiments
          </li>
          <li>
            aider d’autres personnes
          </li>
        </ul>
        NB : avant de construire sur un terrain, vous devez le signaler sur Discord dans
        <a href="https://discord.com/channels/694003889506091100/694003889506091103" class="discord-channel">french-chat</a>.
      </div>
      <div class="subsection">
        <span class="builder">[Builder]</span> : le grade Builder certifié est un membre reconnu de la team BuildTheEarth.net.
        Pour l’obtenir il vous faut construire au moins deux bâtiments sur le serveur, et faire votre demande sur le site BuildTheEarth.net. (un guide très simple est à votre disposition dans
        <a href="https://discord.com/channels/694003889506091100/810512822928670780" class="discord-channel">❔・comment-rejoindre</a> sur Discord)
      </div>
      <div class="subsection">
        <span class="foreman">[Contremaître]</span> : le grade Contremaître est honorifique, vous n’aurez pas de permission en plus, cependant il traduit votre investissement dans le serveur.
        Pour l’obtenir il faudra :
        <ul>
          <li>
            respecter l’échelle 1 bloc pour 1 mètre en s’aidant de Google Earth Pro et Google Maps
          </li>
          <li>
            construire au moins 25 bâtiments ou bien son équivalent (seul un staff pourra le juger)
          </li>
          <li>
            introduire suffisamment de détails dans ses constructions (trappes, boutons, mix de blocs, bonne utilisation des têtes customs, végétations autour des constructions)
          </li>
          <li>
            avoir un langage correct
          </li>
        </ul>
      </div>
      <div class="subsection">
        <span class="architect">[Architecte]</span> : tout comme Contremaître, Architecte est honorifique, il fait directement suite à ce grade, de nouvelles conditions s’y ajoutent :
        <ul>
          <li>
            votre ville ou votre village est désormais plus avancé, votre niveau de détails est bon
          </li>
          <li>
            vous avez réalisé un bâtiment d'intérêt avec des détails pertinents (château, église, mairie…)
          </li>
          <li>
            vous postez votre avancée de temps en temps sur le Discord (
            <a href="https://discord.com/channels/694003889506091100/694325296106569748" class="discord-channel">🌍・showcase</a>
            ou
            <a href="https://discord.com/channels/694003889506091100/700757392157048892" class="discord-channel">🤝・progrès・aide-build</a> )
          </li>
          <li>
            vous êtes présent sur le serveur BTE France depuis au moins un mois
          </li>
        </ul>
      </div>
      <div>
        <span class="engineer">[Ingénieur]</span> : le grade Ingénieur est le plus haut que vous pourrez atteindre sur le serveur hormis le staff, ce grade est donc réservé aux meilleurs, et peut être que vous en ferez parti, mais ce chemin est long, patience.
        Pour obtenir ce précieux grade, il faudra faire preuve de nombreuses qualités, en plus d’avoir atteint un bon niveau de construction, vous avez démontré que vous êtes quelqu'un de confiance, vous aidez aussi vos camarades quand ceux-ci ont besoin d’aide (ne construisez par leur village non plus) et vous faites désormais partie à part entière de l’histoire de BTE France. Ce grade ne se demande pas vraiment, il vient à vous.
      </div>
    </div>
  </article>
  <article class="rules-column">
    <h3>Staff ranks</h3>
    <div class="content-box">
      <div class="subsection">
        <span class="archivist">[Archiviste]</span> : le grade d’Archiviste est un grade unique qui a été décerné à <span class="discord-user">lclc</span>, il s’occupe de trier et de renseigner avec le plus d’informations possible les constructions faites par les joueurs permettant de mettre à jour la map française (/map sur Discord).
      </div>
      <div class="subsection">
        <span class="helper">[Helper]</span> : le grade Helper est le premier grade staff. Ils sont des modérateurs et anciennement des Builder+ ; ils sont là pour vous aider sur vos constructions, ils vous donnent des conseils sur les fonctionnalités de BTE (WorldEdit, tutos…). Comme inscrit plus haut, les Helpers sont modérateurs en cas d’absence des <span class="staff">Staff</span> : ils peuvent vous passer en grade de <span class="beginner">Débutant</span> à <span class="architect">Architecte</span>.
      </div>
      <div class="subsection">
        <span class="developer">[Développeur]</span> : le grade Développeur est celui de <span class="discord-user">Smyler</span>, c’est notamment grâce à lui que l’on doit le mod Terramap permettant d’avoir des cartes satellite et openStreetMap directement en jeu.
      </div>
      <div class="subsection">
        <span class="staff">[Staff]</span> : Le grade Staff est le grade le plus haut placé en termes de permissions. Ils sont considérés comme admins et gèrent l'entièreté du serveur, ils sont anciennement les modérateurs et les admins réunis sous ce seul grade.
      </div>
      <div class="subsection">
        <span class="founder">[Fondatrice]</span> : Détenu par <span class="discord-user">Lennah_</span>, c’est la propriétaire du serveur. A ne pas confondre avec les propriétaires de la team BTE France.
      </div>
    </div>
  </article>
{% endblock %}