/* General purpose stuff */
html {
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    color: rgb(0, 38, 84);
    overflow-x: hidden;
}

.container.fullscreen {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.82);
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width, height, 100ms;
}

.container.fullscreen.hidden {
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
}

.maximize {
    max-width: 100%;
    max-height: 100%;
}

/* Header */
header {
    position: fixed;
    background-color: white;
    display: flex;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

header h1 {
    display: none;
}

header h2 {
    display: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
}

header .logo {
    height: 5em;
    margin: .5em auto .25em;
    transition: width, height 500ms;
}

#header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: CaveStory, sans-serif;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.61);
}

header .blue-stripe {
    width: 100%;
    height: .5em;
    background-color: rgb(0, 38, 84);
}

header .red-stripe {
    width: 100%;
    height: .5em;
    background-color: rgb(206, 17, 38);
}

header nav {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    margin-top: -1rem;
}

header nav a {
    padding: 0 1rem 0 1rem;
    color: rgb(0, 38, 84);
    transition: color, 500ms;
    text-decoration-color: rgb(206, 17, 38);
}

header nav a:hover {
    color: rgb(119, 22, 63);
    text-decoration-color: rgb(206, 17, 38);
}

#burger-button {
    display: none;
}

.language {
    text-decoration: none;
}

/* Filler */
#filler {
    height: 8em;
}

/* Header - Mobile */
@media only screen and (max-width: 700px) {

    header .logo {
        margin-bottom: 0.5em;
        height: 3em;
    }

    header nav {
        flex-direction: column;
    }

    header nav[data-collapsed="no"] {
        margin-top: 1em;
        font-size: 3em;
    }

    header nav[data-collapsed="yes"] {
        margin-top: 0;
        font-size: 0;
    }

    header nav a {
        display: block;
        margin: 0;
        padding: 0.5em;
    }

    #burger-button {
        display: inherit;
        position: fixed;
        right: 1em;
        top: 1.4em;
        height: 2.5em;
        cursor: pointer;
    }

    #filler {
        height: 5em;
    }

    header nav[data-collapsed="yes"] .utility-box {
        height: 0;
        overflow: hidden;
    }

}

/* Content */

main {
    max-width: 100em;
    margin: 0 auto;
    padding: 5em 1em 1em;
}

article {
    margin: 3em;
}

.illustrated-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.illustrated-paragraph h3 {
    display: contents;
}

.article-content {
    width: fit-content;
    text-align: center;
    padding: 2em;
}

.illustration {
    max-width: 40%;
    box-shadow: 0 0 2em 0.25em rgba(0, 0, 0, 0.29);
}

.illustration, .illustration img {
    border-radius: 0.5rem;
}

.main-content {
    font-family: CaveStory, sans-serif;
    margin: 0 auto 1rem auto;
    max-width: 50em;
    text-align: center;
}

.main-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
    margin-bottom: 1.5em;
}

main h2 {
    margin-top: 0;
    font-family: CaveStory, sans-serif;
    font-size: 4em;
    width: 100%;
    text-align: center;
}

.main-content span {
    font-size: 2em;
    margin: 1em;
}

.social-media-account {
    display: inline;
}

.social-media-account img {
    display: inline;
    width: 5em;
    margin: 1em;
    transition: transform ease 200ms;
}

.social-media-account:hover img {
    transform: scale(130%);
}

.social-media-account-alone img {
    display: block;
    width: 7em;
    margin: 2em auto;
}

/* Content - Mobile */

@media only screen and (max-width: 700px) {

    .main-content h2 {
        font-size: 3em;
    }

    .illustrated-paragraph {
        flex-direction: column;
    }

    .article-content {
        padding: 1em;
    }

    .illustration {
        max-width: 100%;
    }

    article {
        margin: 1em;
    }

    .social-media-account img {
        width: 3em;
    }

    .social-media-account-alone img {
        width: 5em;
    }

}

/* Footer */

footer {
    border-top: solid #9d9d9d 0.1rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 0.75rem;
    color: #8a8a8a;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: #606060;
}

footer a {
    color: #8a8a8a;
    text-decoration: none;
}

.footer-section {
    margin: 1rem;
    max-width: 25vw;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 1rem;
}

footer img {
    height: 0.7rem;
    padding-right: 0.5rem;
    display: inline;
    filter: invert() brightness(70%);
}

@media only screen and (max-width: 900px) {
    footer {
        display: flex;
        justify-content: center;
    }
    .footer-section {
        max-width: 100vw;
        margin: 0.5rem;
    }
    .footer-section ul {
        list-style-type: none;
        padding-left: 0;
    }
    .social ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .social li {
        padding-right: 1rem;
    }
}

.utility-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-box img {
    padding: 0.5rem;
}
.dropdown {
    position: relative;
    padding: 0.5rem;
}

.dropdown img {
    height: 2rem;
}

.dropdown ul {
    position: absolute;
    top: 100%;
    right: 1rem;
    max-height: 0;
    overflow-y: hidden;
    list-style-type: none;
    margin: -0.9rem 0 0 0;
    padding: 0;
    border: solid #9D9D9D 0;
    border-radius: 0.2rem;
    transition: max-height 200ms ease, border-width 200ms ease;
}

.dropdown button.hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.dropdown button:hover~ul, .dropdown ul:hover, .dropdown button:focus~ul {
    max-height: 50vh;
    border-width: 0.1rem;
}

.dropdown ul li {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.dropdown ul li a {
    padding: 0.4rem 1rem 0.4em 2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: right;
    text-align: right;
    color: #575757;
    text-decoration: none;
    transition: padding 300ms ease, background-color 500ms ease, color 400ms ease;
}

.dropdown ul li:nth-child(odd) a {
    color: #465298;
}

.dropdown ul li a:hover {
    padding: 0.4rem 2rem 0.4em 1rem;
    background-color: rgba(96, 96, 96, 0.65);
    color: white;
}

.night-mode-switcher {
    height: 2rem;

}

.night-mode-switcher:hover {
    cursor: pointer;
}