@font-face {
    font-family: 'CaveStoryRegular';
    src: url('../fonts/CaveStory.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* The following rules are deprecated. */

@font-face {
    font-family: 'CaveStory';
    src: url('../fonts/CaveStory.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}