main {
    max-width: inherit;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
}

.gallery-entry {
    display: block;
    margin: 1vw;
    max-height: 50vh;
    max-width: 45vw;
    position: relative;
}

.gallery-image {
    display: block;
    max-height: 50vh;
    max-width: 45vw;
    box-shadow: 0 0 2em 0.25em rgba(0, 0, 0, 0.29);
}

.gallery-entry.gallery-loading {
    width: 45vw;
    aspect-ratio: 16/9;
    background-color: rgba(0, 0, 0, 0.73);
}

.gallery-info {
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 500ms;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.gallery-info:hover {
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.gallery-info h4 {
    padding: 0.5em;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
}

.gallery-button {
    background-size: 1.5em;
    border: none;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
}

.gallery-button:hover {
    cursor: pointer;
}

.gallery-button.download {
    background: url("../img/download.svg") center;
    background-size: 1.5em;
    top: 1em;
    right: 3.5em;
}

.gallery-button.fullscreen {
    background: url("../img/fullscreen.svg") center no-repeat;
    background-size: 1.5em;
    top: 1em;
    right: 1em;
}

.gallery-button.close {
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 3000;
    color: white;
    font-size: 2em;
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
    filter: none;
}

.gallery-button.info {
    display: none; /* Only shown on mobile */
    font-family: RobotoSlab, serif;
    color: #606060;
    background: none;
    font-size: 1.6em;
    top: 0.15em;
    right: 2.5em;
}

.gallery-info p {
    position: absolute;
    display: inline-block;
    top: 1.5em;
    bottom: 1.5em;
    overflow-y: auto;
    padding: 0.5em;
    color: rgba(255, 255, 255, 0.85);
    transition: opacity 200ms;
}

.gallery-info .author {
    position: absolute;
    bottom: 0;
    left: 2em;
    padding: 0.5em;
}

.gallery-info .camera {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1.75em;
}

.gallery-info .axe {
    position: absolute;
    height: 1.72em;
    bottom: 0.5em;
    right: 0.5em;
}

.gallery-info .builders {
    position: absolute;
    height: 1.5em;
    bottom: 0.5em;
    right: 2.5em;
}

.image-fullscreen .gallery-info {
    opacity: 100%;
    position: fixed;
    z-index: 2000;
    color: white;
    background-color: rgba(0, 0, 0, 0.92);
}

.image-fullscreen p, .image-fullscreen span, .image-fullscreen button, .image-fullscreen img, .image-fullscreen h4 {
    display: none;
}

.image-fullscreen .gallery-image {
    display: unset;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Mobile */
@media only screen and (max-width: 700px) {

    .gallery-entry {
        max-width: 90vw;
        width: 90vw;
        padding-top: 5em;
        padding-bottom: 1em;
        border-top: solid 0.1em rgba(128, 128, 128, 0.77);
    }

    .gallery-image {
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-info {
        opacity: 100%;
        color: #606060;
        bottom: unset;
    }

    .image-fullscreen .gallery-info {
        bottom: 0;
    }

    .gallery-button.info {
        display: unset;
    }

    .gallery-info p {
        display: none;
        opacity: 0;
    }

    .gallery-info button, .gallery-info .camera, .gallery-info .axe {
        filter: brightness(30%);
    }

    .gallery-info .camera, .gallery-info .axe {
        bottom: unset;
        top: 2.5em;
    }

    .gallery-info .author {
        bottom: unset;
        top: 2.2em;
    }

    .gallery-info .builders {
        bottom: unset;
        top: 2.8em;
    }

    .description-fullscreen p {
        display: block;
        opacity: 100%;
        position: fixed;
        z-index: 2000;
        margin: 0;
        padding: 8em 1em 1em;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.91);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .description-fullscreen .close {
        display: unset;
        position: fixed;
        top: 1em;
        right: 1em;
        z-index: 2001;
        color: white;
        font-size: 2em;
        background-image: none;
        background-color: rgba(255, 255, 255, 0);
        filter: none;
    }

}

.no-top-border {
    border-top: none;
}